<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>About Me - Satisfraction - MaLa</title>
    <link rel="stylesheet" href="../assets/css/am.css" />
    <meta
      name="description"
      content="Hello, I'm Mathias, an aspiring DevOps Engineer and Fullstack Developer. This page provides information about me, my qualifications, my passion, values, willingness to learn, adaptability, teamwork, and independence."
    />
  </head>

  <body>
    <section class="title-container">
      <a href="../index.html">
        <img src="../assets/img/logo.png" alt="" class="logo" />
      </a>
      <h1 class="title">
        Willkommen auf der Über mich Seite / Welcome to the About me page
      </h1>
      <p class="subtitle">
        Auf dieser Seite finden Sie Informationen über mich. / On this page you
        will find informations about me.
      </p>
      <a href="aboutme.html">
        <img
          src="../assets/img/profile.png"
          alt="profile-pic"
          class="profile-pic"
        />
      </a>
      <hr />
    </section>

    <div class="flex-container">
      <div class="container">
        <div class="container1">
          <h2>Über mich</h2>
          <p>
            Hallo, ich bin Mathias, ein angehender DevOps Engineer und Fullstack
            Entwickler. Derzeit absolviere ich eine 12-monatige Weiterbildung
            bei der Techstarter GmbH, bei der ich mich auf die Bereiche DevOps
            und Cloud Engineering spezialisiere.
          </p>
          <h3>Qualifikationen:</h3>
          <p>
            In meiner Weiterbildung habe ich bereits einige wichtige
            Qualifikationen erworben, darunter die AWS Cloud
            Practitioner-Zertifizierung, Professional Scrum Master I und
            grundlegende Kenntnisse in Linux Essentials. Meine Schwerpunkte in
            der Entwicklung liegen in Python, HTML, CSS und JavaScript.
            Zusätzlich verfüge ich über Grundkenntnisse in Docker und Terraform.
          </p>

          <h3>Meine Leidenschaft:</h3>
          <p>
            Was mich antreibt, ist die Möglichkeit, neue Anwendungen zu
            entwickeln, die das tägliche Leben der Menschen bereichern und
            erleichtern. Die Freude, die ich anderen durch meine Arbeit bereiten
            kann, treibt mich an und inspiriert mich, kontinuierlich an neuen
            Projekten zu arbeiten.
          </p>

          <h3>Werte und Eigenschaften:</h3>
          <p>
            Ich zeichne mich durch meine Loyalität, Zuverlässigkeit und meinen
            Ehrgeiz aus. Mein großer Ideenreichtum und meine Kreativität
            ermöglichen es mir, innovative Lösungen für komplexe
            Herausforderungen zu finden.
          </p>

          <h3>Lernbereitschaft:</h3>
          <p>
            Ich strebe kontinuierliche Weiterentwicklung an und bin immer
            bereit, Neues zu lernen. Als Teil der "100 Days of Code"-Bewegung
            arbeite ich aktiv daran, meine Fähigkeiten zu vertiefen und ständig
            auf dem neuesten Stand zu bleiben.
          </p>

          <h3>Anpassungsfähigkeit:</h3>
          <p>
            Ich bin flexibel und bereit, mich neuen Umgebungen und Technologien
            anzupassen. Dies ermöglicht es mir, schnell neue Fähigkeiten zu
            erlernen und mich in verschiedenen Projektumgebungen wohlzufühlen.
          </p>

          <h3>Teamarbeit und Selbstständigkeit:</h3>
          <p>
            Ich kann sowohl im Team als auch selbständig effektiv arbeiten.
            Während meiner Weiterbildung habe ich bereits erfolgreich in
            verschiedenen Projektteams zusammengearbeitet und
            eigenverantwortlich Projekte geleitet.
          </p>
        </div>

        <div class="container2">
          <div class="website">
            <h2>About me</h2>
            <p>
              Hi, I'm Mathias, an aspiring DevOps Engineer and. Fullstack
              Developer. I am currently completing a 12-month further education
              at Techstarter GmbH, where I am focusing on the DevOps and cloud
              engineering areas.
            </p>
            <h3>Qualifications:</h3>
            <p>
              In my continuing education, I have already earned several
              important qualifications, including the AWS Cloud Practitioner
              certification, Professional Scrum Master I, and basic knowledge of
              Linux Essentials. My development focus is on Python, HTML, CSS,
              and JavaScript. Additionally I have basic knowledge of Docker and
              Terraform.
            </p>

            <h3>My Passion:</h3>
            <p>
              What drives me is the opportunity to develop new applications that
              enrich people's daily lives enrich and make easier. The joy I can
              bring to others through my work drives me and inspires me to
              continuously work on new projects.
            </p>
            .

            <h3>Values and Characteristics:</h3>
            <p>
              I am characterized by my loyalty, reliability and ambition. My
              great wealth of ideas and my creativity enable me to find
              innovative solutions to complex challenges.
            </p>

            <h3>Willingness to learn:</h3>
            <p>
              I strive for continuous development and am always willing to learn
              new things. As part of the "100 Days of Code" movement, I am
              actively working to deepen my skills and constantly keep up to
              date with the latest State of the Art.
            </p>

            <h3>Adaptability:</h3>
            <p>
              I am flexible and willing to adapt to new environments and
              technologies. This allows me to, to quickly learn new skills and
              feel comfortable in different project environments.
            </p>

            <h3>Teamwork and independence:</h3>
            <p>
              I can work effectively in a team as well as independently. During
              my advanced training, I have already successfully worked together
              in various project teams and independently led projects. led.
            </p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <nav>
        <ul>
          <li><a href="../index.html">Homepage</a></li>
          <li><a href="#">About me</a></li>
          <li><a href="certificates.html">Certificates</a></li>
          <li><a href="cv.html">Resume</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="dcg.html">Docker-Command-Game</a></li>
        </ul>
      </nav>

      <div class="container">
        <p class="credits">Made with ❤️ © 2023 Satisfraction.</p>
      </div>
    </footer>
  </body>
</html>
