<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Certificates - Satisfraction - MaLa</title>
    <meta name="description" content="Hier finden Sie eine Übersicht über meine Zertifikate / Here you will find an overview of my certificates">
    <link rel="stylesheet" href="../assets/css/certificate.css">
</head>

<body>

    <section class="title-container">
        <a href="../index.html">
            <img src="../assets/img/logo.png" alt="" class="logo">
        </a>
        <h1 class="title">Willkommen auf meiner Zertifikat Seite / Welcome to my certificate page</h1>
        <p class="subtitle">Hier finden Sie eine Übersicht über meine Zertifikate / Here you will find an overview of my certificates</p>
        <a href="aboutme.html">
            <img src="../assets/img/profile.png" alt="profile-pic" class="profile-pic">
        </a>
        <hr>
    </section>

    <div class="flex-container">
        <section class="container1">

            <!-- certificate 1 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/aws-certified-cloud-practitioner.png" alt="aws-cp">
                </div>
                <div class="right">
                    <h2>AWS Certified Cloud Practitioner</h2>
                    <p lang="en">February 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://www.credly.com/badges/b06d56b9-15f7-48bb-b3f5-c60889cf3e73/linked_in_profile" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 2 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/professional-scrum-master-i-psm-i.png" alt="psm-i">
                </div>
                <div class="right">
                    <h2>Professional Scrum Master (PSM I)</h2>
                    <p lang="en">March 18, 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://www.credly.com/badges/4ccb1cb9-d013-47aa-acac-c479c9479b22/linked_in_profile" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 3 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/lfc131-green-software-for-practitioners.png" alt="lfc-131">
                </div>
                <div class="right">
                    <h2>Green Software for Practitioners</h2>
                    <p lang="en">March 29, 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://www.credly.com/badges/48cab2b9-6cfd-49e9-8729-5f1af4d99308/linked_in_profile" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 4 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/LPI_Essentials.png" alt="Linux Essentials">
                </div>
                <div class="right">
                    <h2>Linux Essentials (LE-1)</h2>
                    <p lang="en">April 15, 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://cs.lpi.org/caf/Xamman/certification/verify/LPI000564054/2ahlc9mxr6" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 5 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/lfc108-cybersecurity-fundamentals.png" alt="LFC108">
                </div>
                <div class="right">
                    <h2>Cybersecurity Fundamentals (LFC108)</h2>
                    <p lang="en">May 23, 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://www.credly.com/badges/67cb0ae7-9c0f-4117-878a-93a39389c685/public_url" target="_blank">Authentication</a>
                </div>
            </div>

        </section>

        <section class="container2">

            <!-- certificate 6 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/python-diploma.png" alt="">
                </div>
                <div class="right">
                    <h2>Diploma in Python Programming</h2>
                    <p lang="en">June 4, 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://www.janets.org.uk/certificates/certificate-2-3/?c=392491&u=153800" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 7 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/digital marketing.png" alt="google zukunftswerkstatt">
                </div>
                <div class="right">
                    <h2>Fundamentals of Digital Marketing</h2>
                    <p lang="en">June 25, 2023 - certificate id: SAV FGE 9S5</p>
                </div>
                <div class="center">
                    <a class="button" href="https://learndigital.withgoogle.com/zukunftswerkstatt/validate-certificate-code" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 8 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/Game Testing Training Diploma Level 3.png" alt="game testing diploma">
                </div>
                <div class="right">
                    <h2>Game Testing Training Diploma Level 3</h2>
                    <p lang="en">January 29, 2023 </p>
                </div>
                <div class="center">
                    <a class="button" href="https://www.alphaacademy.org/certificates/certificate-2/?c=108023&u=340586" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 9 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/web development fundamentals.png" alt="web development fundamentals">
                </div>
                <div class="right">
                    <h2>Web Development Fundamentals</h2>
                    <p lang="en">January 15, 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://academy.zenva.com/certificate/cdb316150559" target="_blank">Authentication</a>
                </div>
            </div>

            <!-- certificate 10 -->
            <div class="certificate">
                <div class="left">
                    <img class="badge" src="../assets/img/lfd121-developing-secure-software.png" alt="LFD121">
                </div>
                <div class="right">
                    <h2>Developing Secure Software (LFD121)</h2>
                    <p lang="en">September 07, 2023</p>
                </div>
                <div class="center">
                    <a class="button" href="https://www.credly.com/badges/80749b26-8623-4b27-a1f5-cfc4725b3e81/linked_in_profile" target="_blank">Authentication</a>
                </div>
            </div>

        </section>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="#">Certificates</a></li>
                <li><a href="cv.html">Resume</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="dcg.html">Docker-Command-Game</a></li>
            </ul>
        </nav>

        <div class="container">
            <p class="credits"> Made with ❤️ © 2023 Satisfraction.</p>
        </div>
    </footer>

</body>

</html>
