<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>Resume - Satisfraction - MaLa</title>
    <meta name="description" content="Hier finden Sie wichtige Informationen über mich." />
    <link rel="stylesheet" href="../assets/css/cv.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <section class="title-container">
        <a href="../index.html">
            <img src="../assets/img/logo.png" alt="" class="logo">
        </a>
        <h1 class="title">
            Willkommen auf der "Lebenslauf" Seite / Welcome to the "Resume" page
        </h1>
        <p class="subtitle">
            Auf dieser Seite finden Sie die wichtigsten Informationen über mich. / On this page you will find the most
            important informations about me.
        </p>
        <a href="aboutme.html">
            <img src="../assets/img/profile.png" alt="profile-pic" class="profile-pic">
        </a>
        <hr />
    </section>

    <div class="flex-container">
        <div class="container">
            <div class="container1">
                <h1>Mathias Lappe - Lebenslauf Auszug</h1>
                <div>
                    <h2>Aktuelle Berufslage:</h2>
                    <p>12-monatige Vollzeit-Ausbildung im Bereich Cloud
                        Computing, die mit der Prüfung für das Zertifikat “IT
                        Fachkraft für Cloud Computing und DevOps”
                        abgeschlossen wird.</p>
                    <p>Bei Techststarter GmbH, virtuell 12/2022 - 12/2023</p>
                    <p><u>Mit den Inhalten:</u>
                        Grundlagen Cloud-Umgebung, Linux, Netzwerke &
                        Sicherheit, Python, Datenbanken, AWS Grundlagen/
                        AWS für Fortgeschrittene, Agile Software-Entwicklung
                        (Scrum), Cloud Monitoring & Metriken, Performance-Messung, Infrastructure As Code (Terraform &
                        Ansible),
                        Infrastrukturautomatisierung, Continuous Integration &
                        Delivery, Softwarequalitätssicherung</p>
                </div>
                <div>
                    <h2>Schulische Abschlüsse:</h2>
                    <p>Fachoberschulreife, 1996 - 2000 </p>
                </div>
                <div>
                    <h2>Fähigkeiten und Kenntnisse</h2>
                    <canvas id="skillsChart" width="400" height="200"></canvas>
                </div>
            </div>

            <div class="container2">
                <h1>Mathias Lappe - Resume extract</h1>
                <div>
                    <h2>Current Occupational Status:</h2>
                    <p>12-month full-time training in the field of cloud
                        computing, which ends with the examination for the certificate "IT
                        Specialist for Cloud Computing and DevOps".
                        is completed.</p>
                    <p>At Techststarter GmbH, virtual 12/2022 - 12/2023</p>
                    <p><u>With the contents:</u>
                        Cloud Environment Basics, Linux, Networks &
                        Security, Python, Databases, AWS Basics/
                        AWS Advanced, Agile Software Development.
                        (Scrum), cloud monitoring & metrics, performance measurement, Infrastructure As Code (Terraform
                        &
                        Ansible),
                        Infrastructure Automation, Continuous Integration &
                        Delivery, Software Quality Assurance</p>
                </div>
                <div>
                    <h2>Academic Qualifications:</h2>
                    <p>High school diploma, 1996 - 2000 </p>
                </div>
                <div>
                    <h2>Skills and Knowledge</h2>
                    <canvas id="skillsChart2" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="certificates.html">Certificates</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="dcg.html">Docker-Command-Game</a></li>
            </ul>
        </nav>

        <div class="container">
            <p class="credits">Made with ❤️ © 2023 Satisfraction.</p>
        </div>
    </footer>

    <script src="../assets/js/cv.js"></script>
</body>

</html>