<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>DCG - Satisfraction - MaLa</title>
    <meta name="description" content="Auf dieser Seite finden Sie ein kleines Spiel zum erlenen von Docker Commands. / On this page you will find a little game to learn Docker Commands.">
    <link rel="stylesheet" type="text/css" href="../assets/css/dcg.css" />
</head>

<body>
    <section class="title-container">
        <a href="../index.html">
            <img src="../assets/img/logo.png" alt="" class="logo">
        </a>
        <h1 class="title">
            Willkommen auf der Docker Command Game Seite / Welcome to the Docker Command Game page
        </h1>
        <p class="subtitle">
            Auf dieser Seite finden Sie ein kleines Spiel zum erlenen von Docker Commands. / On this page you will find a little game to learn Docker Commands.
        </p>
        <a href="aboutme.html">
            <img src="../assets/img/profile.png" alt="profile-pic" class="profile-pic">
        </a>
        <hr />
    </section>

    <div class="game">
        <header>
            <h1>Docker Command Game</h1>
        </header>
    
        <main>
            <div id="game-board"></div>
            <button id="start-button" class="button start-button">Start Game</button>
    
            <button id="learn-mode-button" class="lm-button">Learn Mode</button>
            <button id="exit-learn-mode-button" class="elm-button">Exit Learning Mode</button>
    
            <div id="score">Score: 0</div>
            <div id="high-score">High Score: 0</div>
            <div id="timer">Time left: 0s</div>
        </main>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="certificates.html">Certificates</a></li>
                <li><a href="cv.html">Resume</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Docker-Command-Game</a></li>
            </ul>
        </nav>

        <div class="container">
            <p> Made with ❤️ © 2023 Satisfraction.</p>
        </div>
    </footer>

    <script src="../assets/js/dcg.js"></script>
    <script src="../assets/js/commandsAndPrompts.js"></script>

</body>

</html>