<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Projects - Satisfraction - MaLa</title>
    <link rel="stylesheet" href="../assets/css/project.css">
    <meta name="description" content="Hello, on this site you can find a showcase of my recent aktive projects and an overview of some other projects i´ve worked on.">
</head>

<body>

    <section class="title-container">
        <a href="../index.html">
            <img src="../assets/img/logo.png" alt="" class="logo">
        </a>
        <h1 class="title">Willkommen auf meiner Projekt Seite / Welcome to my project page</h1>
        <p class="subtitle">Hier finden Sie eine Übersicht über meine Projekte / Here you will find an overview of my
            projects</p>
        <a href="aboutme.html">
            <img src="../assets/img/profile.png" alt="profile-pic" class="profile-pic">
        </a>
        <hr>
    </section>

    <div class="flex-container1">
        <div class="button-container">
            <button id="prevButton">Previous</button>
        </div>
        <div class="carousel">
            <div class="slides">
                <div class="slide">
                    <div class="image-caption">
                        <img src="../assets/img/sprachlern-app.png" alt="projekt 1">
                        <div class="caption"><u><b>SprachlernApp</b></u>
                            <div class="info">
                                <p lang="de">
                                    Die Sprachlern-App ist ein einfaches Python-Programm, das dazu dient,
                                    Vokabeln in einer Fremdsprache zu lernen und zu üben. Die App ermöglicht es, Vokabeln zu
                                    lernen, Sätze zu lernen, sowie den Lernprozess
                                    individuell anzupassen. Vorerst wird nur Deutsch / Englisch unterstützt!
                                </p>
                                <hr>
                                <p lang="en">
                                    The Sprachlern-App is a simple Python program that is designed to help you learn
                                    new words in a foreign language. The app allows you to learn new words, sentences
                                    and adjust the learning process individually. Currently only
                                    German / English is supported!
                                </p>
                            </div>
                            <button id="github"><a href="https://github.com/Satisfraction/SprachlernApp"
                                    target="_blank">GitHub Link</a></button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="image-caption">
                        <img src="../assets/img/bed-story.png" alt="project 2">
                        <div class="caption"><u><b>Bedtime Stories</b></u>
                            <div class="info">
                                <p lang="de">
                                    Bedtime Stories ist eine Desktop-Anwendung für Windows, die
                                    Text-to-Speech-Geschichten aus einer Datenbank abspielt.
                                </p>
                                <hr>
                                <p lang="en">
                                    Bedtime Stories is a desktop application for Windows that plays
                                    text-to-speech stories from a database.
                                </p>
                            </div>
                            <button id="github"><a href="https://github.com/Satisfraction/Bed-Time-Storys-Reader"
                                    target="_blank">GitHub Link</a></button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="image-caption">
                        <img src="../assets/img/dcg.png" alt="projekt 3">
                        <div class="caption"><u><b>Docker Command Game</b></u>
                            <div class="info">
                                <p lang="de">
                                    Bei diesem Spiel erhält der Spieler eine Reihe von Befehlsaufforderungen und muss den
                                    richtigen Befehl eingeben.
                                </p>
                                <p lang="de">
                                    Kann <a href="dcg.html">hier</a>  direkt probiert werden auf der unterseite Docker-Command-Game.
                                </p>
                                <hr>
                                <p lang="en">
                                    In this game the player receives a series of prompts and must enter the correct command.
                                </p>
                                <p lang="en">
                                    can be tried <a href="dcg.html">here</a> directly on the subpage Docker-Command-Game.
                                </p>
                            </div>
                            <button id="github"><a href="https://github.com/Satisfraction/Docker-Command-Game"
                                    target="_blank">GitHub Link</a></button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="image-caption">
                        <img src="../assets/img/to-do.png" alt="projekt 4">
                        <div class="caption"><u><b>To-Do List</b></u>
                            <div class="info">
                                <p lang="de">
                                    Mit der To-Do List App können Benutzer ihre Aufgaben verwalten, indem sie Aufgaben
                                    hinzufügen, löschen, bearbeiten, sortieren, speichern und laden.
                                    Die App wurde in Python mit PyQt5 erstellt.
                                </p>
                                <hr>
                                <p lang="en">
                                    With the To-Do List App users can manage their tasks by adding, deleting, editing,
                                    sorting, saving and loading.
                                    The app was created in Python with PyQt5
                                </p>
                            </div>
                            <button id="github"><a href="https://github.com/Satisfraction/to-do-list" target="_blank">GitHub Link</a></button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="image-caption">
                        <img src="../assets/img/lernzwerg.png" alt="Projekt 5">
                        <div class="caption"><u><b>LernZwerg - Lern App für Schüler</b></u>
                            <div class="info">
                                <p lang="de">
                                    LernZwerg ist ein Tool, das als Lernhilfe für Schüler entwickelt wurde. Es bietet eine
                                    einfache Benutzeroberfläche zum Öffnen, Bearbeiten und Speichern von Textdateien sowie
                                    eine Text-to-Speech-Funktion, mit der der Benutzer den Text in der Datei hören kann.
                                </p>
                                <hr>
                                <p lang="en">
                                    LernZwerg is a tool that was developed as a learning aid for students. It offers a
                                    simple user interface to open, edit and save text files as well as a text-to-speech
                                    function that allows the user to listen to the text in the file.
                                </p>
                            </div>
                            <button id="github"><a href="https://github.com/Satisfraction/LernZwerg" target="_blank">GitHub Link</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button id="nextButton">Next</button>
        </div>
    </div>

    <div class="flex-container">
        <section class="container1">

            <!-- project 1 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>100 Days of Code - Techstarter</b></u></h3>
                </div>
                <div class="left">
                    <p lang="de">
                        Eine abwandlung der 100DaysOfCode Challenge angepasst an das Techstarter Bootcamp.
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        An adaptation of the 100DaysOfCode Challenge to the Techstarter Bootcamp.
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/100-days-of-code-Techstarter"
                        target="_blank">Project GutHub page</a>
                </div>
            </div>

            <!-- project 2 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>HTML, CSS, JS Magic</b></u></h3>
                    <p>Programming Languages:
                        <img align="center" alt="html5" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
                        <img align="center" alt="css3" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
                        <img align="right" alt="JavaScript" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Die HTML-CSS-JS Magic Code Snippet Library enthält Code-Snippets und Templates für
                        Webentwicklungsprojekte mit spezifischen Features und Funktionalitäten.
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        The HTML-CSS-JS Magic Code Snippet Library contains code snippets and templates for web
                        development projects with specific features and functionalities.
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/html-css-js-magic" target="_blank">Project
                        GutHub page</a>
                </div>
            </div>

            <!-- project 3 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>CSS Rules Explained</b></u></h3>
                    <p>Programming Language:
                        <img align="center" alt="css3" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Eine kleine Template Sammlung zum erklären von CSS Regeln.
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        A small template collection to explain CSS rules.
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/CSS-Rules-Explained"
                        target="_blank">Project GutHub page</a>
                </div>
            </div>

            <!-- project 4 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>Python-Lernen</b></u></h3>
                    <p>Programming Language:
                        <img align="center" alt="python" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Dieses Projekt umfasst mittelgroße und kleine Projekte, die anhand praktischer
                        Beispiele bearbeitet werden um Python zu lernen
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        This project includes small and medium-sized projects that are worked on through
                        practical examples to learn Python
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/Python-Lernen" target="_blank">Project
                        GutHub page</a>
                </div>
            </div>

            <!-- project 5 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>CV Profile Website Template</b></u></h3>
                    <p>Programming Languages:
                        <img align="center" alt="html5" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
                        <img align="center" alt="css3" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
                        <img align="right" alt="JavaScript" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Diese Vorlage bietet eine einfache und elegante Möglichkeit, ein beeindruckendes
                        Online-Portfolio für Arbeitssuchende, Freiberufler und Fachleute zu erstellen
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        This template offers a simple and elegant way to create an impressive
                        online portfolio for job seekers, freelancers and professionals
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/CV-Profile-Website-Template"
                        target="_blank">Project GutHub page</a>
                </div>
            </div>
        </section>

        <section class="container2">

            <!-- project 6 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>Memory-Card-Spiel</b></u></h3>
                    <p>Programming Languages:
                        <img align="right" alt="html5" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
                        <img align="center" alt="JavaScript" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                        <img align="center" alt="css3" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Das Memory Card Spiel ist ein Spiel, bei dem Kinder verdeckte Kartenpaare finden müssen.
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        The Memory Card Game is a game in which children have to find hidden pairs of cards.
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/Memory-Card-Spiel" target="_blank">Project
                        GutHub page</a>
                </div>
            </div>

            <!-- project 7 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>Mathe-Helfer</b></u></h3>
                    <p>Programming Language:
                        <img align="center" alt="python" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Mathe Helfer ist eine interaktive Anwendung, die Kindern beim Mathe lernen hilft.
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        Math Helper is an interactive application that helps children learn math.
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/Mathe-Helfer" target="_blank">Project
                        GutHub page</a>
                </div>
            </div>

            <!-- project 8 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>Satisfractions-Quiz-Time</b></u></h3>
                    <p>Programming Languages:
                        <img align="center" alt="html5" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
                        <img align="center" alt="css3" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
                        <img align="right" alt="JavaScript" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Dies ist eine Quiz-App mit HTML, CSS und JavaScript. Der Benutzer beantwortet zufällige Fragen
                        und bekommt Feedback.
                </div>
                <div class="right">
                    <p lang="en">
                        This is a quiz app with HTML, CSS and JavaScript. The user answers random questions and gets
                        feedback.
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/Satisfractions-Quiz-Time"
                        target="_blank">Project GutHub page</a>
                </div>
            </div>

            <!-- project 9 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>Color Picker</b></u></h3>
                    <p>Programming Language:
                        <img align="center" alt="python" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
                        <img align="center" alt="python" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/qt/qt-original.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Color Picker ist eine Python-App, mit der man eine Farbe wählen und ihre Hex- und RGB-Werte
                        kopieren kann. Die App nutzt die PyQt5-Bibliothek.
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        Color Picker is a Python app that allows you to choose a color and copy its hex and RGB values.
                        The app uses the PyQt5 library.
                    </p>
                </div>
                <div class="center">
                    <a class="button" href="https://github.com/Satisfraction/Color-Picker" target="_blank">Project
                        GutHub page</a>
                </div>
            </div>

            <!-- project 10 -->
            <div class="project">
                <div class="project-title">
                    <h3><u><b>Einkommens-Rechner</b></u></h3>
                    <p>Programming Language:
                        <img align="center" alt="python" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
                        <img align="center" alt="python" width="30px" style="padding-right:10px;"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/qt/qt-original.svg" />
                    </p>
                </div>
                <div class="left">
                    <p lang="de">
                        Dieses Programm ist ein Einkommensrechner mit PyQt5. Der Benutzer gibt Stundenlohn, Arbeitszeit
                        und Wochen im Jahr ein und kann Steuern berücksichtigen.
                    </p>
                </div>
                <div class="right">
                    <p lang="en">
                        This is an income calculator with PyQt5. The user inputs hours worked, hours worked per week
                        and year and can include taxes.
                    </p>
                </div>
                <div class="center">
                    <a class="button"
                        href="https://github.com/Satisfraction/Einkommens-Rechner"
                        target="_blank">Project GutHub page</a>
                </div>
            </div>

        </section>
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="aboutme.html">About me</a></li>
                <li><a href="certificates.html">Certificates</a></li>
                <li><a href="cv.html">Resume</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="dcg.html">Docker-Command-Game</a></li>
            </ul>
        </nav>

        <div class="container">
            <p class="credits"> Made with ❤️ © 2023 Satisfraction.</p>
        </div>
    </footer>

    <script src="../assets/js/showcase.js"></script>

</body>

</html>